#chat-screen {
  background-color: #a0b9c9;
  height: 500vh;
}
#chat-screen .status-bar {
  background-color: #a0b9c9;
}
.main-chat {
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.chat__timestamp {
  color: white;
  background-color: slategray;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
}
.message-row img {
  height: 40px;
  width: 40px;
  border-radius: 30%;
  margin-right: 10px;
}
.message__author {
  opacity: 0.8;
  font-size: 12px;
  margin-bottom: 5px;
}
