#friends-display-link {
  background-color: #faf9fa;
  text-align: center;
  display: block;
  display: flex;
  justify-content: center;
  padding: var(--horizontal--space);
  position: relative;
  margin-top: -10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}
.fa-chevron-right {
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.3);
  top: 16px;
  right: 130px;
}
.fa-chevron-right--xl {
  margin-left: 5px;
}
.friends-screen {
  padding: 0px var(--horizontal--space);
}
.friends-screen__channel {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.friemds-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
}
#splash-screen i {
  font-size: 122px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
