.screen-header {
  display: flex;
  margin: 30px var(--horizontal--space);
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons {
  display: flex;
  position: relative;
}
.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__dot {
  background-color: tomato;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: -3px;
  bottom: 18px;
}
.fa-search {
  position: relative;
}
.fa-cog {
  position: relative;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
